h1 {
    color: rgb(22,63,74);
}
h2 {
    color: rgb(52,124,64);
}
h3{
    color:rgb(0,98,167);
}
p{
    text-align: justify
}
p::first-line {
    text-indent: 8em;
}
img{
    text-align: center;
}